* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /*### Primary colors*/
    /* --Marine_blue: #02295a; */
    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    
    --Light_blue: #bfe2fd;
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    /*### Neutral colors*/
    /* --Cool_gray: #9699ab; */
    --Cool_gray: hsl(231, 11%, 63%);
    /* --Light_gray: #d6d9e6 */
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: #f0f6ff83;
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);


    /* - Font size (paragraph): 16px */

    /* ### Font */

    /* --Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu) */
    /* - Weights: 400, 500, 700 */


}

body {
    background-color: var(--Magnolia);
    height: 100%;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: var(--Cool_gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.main_wrapper {
    width: 100%;
    /* max-width: 60rem; */
    height: 100%;
    background-color: transparent;
    overflow-x: scroll;
    border:  2px solid limegreen;
}

form {
    width: 100%;
    max-width: 60rem;
    height: 95.5vh;
    margin-top: 6.3rem;
    overflow-x: hidden;
    position: relative;
    border: 2px solid brown;
}

form .formbx{
    width: 100%;
    /* width: fit-content; */
    min-height: 100%;
    border-radius: 10px;
    /* transition: transform 0.5s; */
    border: 2px solid red;
    
}
section {
    background-color: var(--Magnolia);
    min-width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid yellowgreen;
    /* z-index: 500; */
    /* transition: all 0.5s; */
    
}
/* section:nth-child(1) .btnbx{
    background-color: var(--Alabaster);
    width: 100%;
    height: 4.2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    bottom: 2%;
}
section:nth-child(1) .btnbx button{
    background-color: var(--Marine_blue);
    color: var(--Alabaster);
    font-size: .9rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 5px;
}
section:not(section:nth-child(1)) .btnbx{
    background-color: var(--Alabaster);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin-top: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 2%;
}

section:not(section:nth-child(1)) .btnbx button:first-child{
    background-color: transparent;
    color: var(--Cool_gray);
    font-size: 1em;
    font-weight: 500;
    padding: .5rem 0;
    border-radius: 5px;
}
section:not(section:nth-child(1)) .btnbx button:last-child{
    background-color: var(--Marine_blue);
    color: var(--Alabaster);
    font-size: .85rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: 5px;
} */

form .btnbx {
    background-color: var(--Alabaster);
    color: var(--Alabaster);
    font-size: .85rem;
    font-weight: 500;
    padding: .5rem 1rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
form .btnbx button{
    padding: .2rem 1rem;
    border-radius: 5px;
}
form .btnbx button:first-child{
    background-color: var(--Cool_gray); 
}
form .btnbx button:nth-child(2){
    background-color: var(--Marine_blue); 
}
form .btnbx button[type="submit"]{
    background-color:  var(--Purplish_blue);
}
aside {
    background: url(assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: 80% 85%;
    background-size: 110%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    position: absolute;
    inset: 0 0 75% 0;
}

aside>div {
    display: flex;
    align-items: start;
    gap: 16px;
}

aside>.one span:first-child {
    background-color: var(--Light_blue);
    /* color: var(--Marine_blue); */
}

aside>div span:first-child {
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    border: 1px solid var(--Light_gray);
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: var(--White);
}

aside>div span:last-child h5 {
    color: var(--Light_gray);
}

aside>div span:last-child {
    display: none;
}

aside>div span:last-child h4 {
    color: var(--Alabaster);
    font-weight: bold;
}
/* .personal_info{
    display: block;
    opacity: 0;
    visibility: visible;
} */
.personal_info .contentbx{
    background-color: var(--Alabaster);
    border-radius: 10px;
}
.personal_info :is(header h2, label),
.select_plan :is(h2, .select_box .content h4),
.add_ons :is(header h2, .contentbx h4),
.finishing_up :is(header h2, #selected_plan, #finish_add, #finish_plan){ 
    color: var(--Marine_blue);
    font-weight: 700;
}

.personal_info .contentbx > div label{
    font-size: .8rem;
}
.personal_info input {
    height: 2.3rem;
    width: 100%;
    padding: 0 16px;
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
    
}

/* .select_plan {
    width: 100%;
} */

.select_plan .contentbx{
    background-color: var(--Alabaster);
    border-radius: 10px;
    margin-bottom: -20rem;
}

.select_plan .contentbx .content{
    /* background-color: var(--Alabaster); */
    border-radius: 10px;
}

.select_plan>p {
    color: var(--Cool_gray);
}

.select_plan .select_box {
    border: 1px solid var(--Light_gray);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.select_plan .select_box .content{
    display: flex;
    flex-direction: column;

}
.select_plan .select_box:hover {
    background-color: var(--Magnolia);
    border: 1px solid black;
}

.select_plan .select_box .contentbx p {
    font-weight: 400;
    line-height: 1.3rem;
    color: var(--Cool_gray);
}

.select_plan .select_box > input {
    height: 3rem;
    width: 100%;
    padding: 0 10px;
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

.select_plan .togglebx {
    max-width: 100%;
    background-color: rgba(44, 85, 97, 0.01);
    border-radius: 10px;
    margin-top: 1.45rem;
}

.select_plan .togglebx .toggle_container {
    background-color: var(--Marine_blue);
    width: 2.3rem;
    height: .8rem;
    padding: 8px 16px;
    border: 2px solid var(--Marine_blue);
    border-radius: 20px;

}

.select_plan .togglebx .toggle_container > #toggle_span {
    width: .8rem;
    height: .8rem;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: auto;
}

.select_plan .togglebx .toggle_container > input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
.select_plan .togglebx .toggle_container > input:checked + #toggle_span{
    right: 0;
    left: auto;
}

.add_ons {
    /* width: 100%; */
    border-radius: 10px;
}

.add_ons .contentbx{
    background-color: var(--Alabaster);
    border-radius: 10px;
}

.add_ons .add_ons_contentbx{
    display: flex;
    flex-direction: column;
}
.add_ons #add_yearly{
    display: none;
}
.add_ons .add_container {
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
    padding: .6rem 1rem;
}

.add_ons .add_container p{
    font-size: 0.85rem;
    line-height: 1.25rem;
}
.finishing_up {
    /* width: 100%; */
    background-color: transparent;
   
}

.finishing_up .contentbx{
    width: calc(100% - 1rem);
    background-color: var(--Alabaster);
    border-radius: 10px;
}
.finishing_up .finishing_content{
    width: 100%;
    background-color: #f0f6ff50;
    border-radius: 10px;
}
.Vote_of_thanks{
    width: 100%;
    height: 100%;
    background-color: #000000f7;
    background-color: var(--Magnolia);
    margin-top: 4rem;
    padding: 0 1rem;
    position: absolute;
    inset: 0;
    border: 4px solid green;
    isolation: isolate;
    /* border-radius: 10px; */

}
.Vote_of_thanks .contentbx{
    width: 100%;
    height: 25rem;
    background-color: var(--Alabaster);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto 0;
    margin-top: -4rem;
    padding: 0 1.5rem;
    border-radius: 10px;
    z-index: 100;
}
.Vote_of_thanks .contentbx h2{
    color: var(--Marine_blue);
}
.Vote_of_thanks .contentbx p{
    color: var(--Cool_gray);
    font-weight: 400;
}
.Vote_of_thanks .contentbx img{
    width: 3rem;
}
.Vote_of_thanks .contentbx button{
    background-color: var(--Marine_blue);
    color: var(--Alabaster);
    font-weight: 450;
    padding: .2rem 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .main_wrapper {
        height: 41rem;
        
        min-width: 50rem;
        background-color: var(--Alabaster);
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 20px;

    }
    aside {
        background: url(assets/images/bg-sidebar-desktop.svg);
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        min-width: 10.5rem;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1.5rem;
        padding: 2rem 1.5rem;
        border-radius: 10px;
        position: static;
    }

    aside>div span:last-child {
        display: block;
    }
    form {
        width: 100%;
        height: 100%;
        margin-top: 0;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
    form .formbx{
        width: 100%;
        /* width: fit-content; */
        height: 100%;
        border-radius: 10px;
        padding: 0;
        /* margin-left: 12rem; */
        /* margin: 1rem 1rem 1rem 12rem; */
        margin: 0;
    }
    section {
        background-color: var(--Alabaster);
        min-width: 100%;
        /* width: 60rem; */
        height: 100%;
        border-radius: 10px;
        position: relative;
        
    }
    article{
        background-color: var(--Alabaster);
    }
    .personal_info{
        /* height: 100%; */
        margin: 0;
        position: relative;
    }
    .personal_info input {
        height: 2.8rem;
        width: 100%;
        padding: 0 10px;
        border: 1px solid var(--Cool_gray);
        border-radius: 5px;
        
    }

    .select_plan {
        background-color: var(--Alabaster);
        height: 100%;
        /* width: 100%; */
        padding: 0;
        margin: 0;
    }

    .select_plan .contentbx{
        background-color: var(--Alabaster);
        border-radius: 10px;
        margin-bottom: 0;
    }

    .select_plan :is(#plan_monthly, #plan_yearly) .select_box {
        width: calc((100% - (1.25rem * 3)) / 3);
    }

    .select_plan :is(#plan_monthly, #plan_yearly) .select_box img {
        width: 2.6rem;
    }

    .select_plan .togglebx {
        min-width: 100%;
        margin-top: 2rem;

    }

    .add_ons {
        background-color: var(--Alabaster);
        padding: 0;
        margin: 0;
    }

    .add_ons .add_container {
        border-radius: 10px;
        padding: 1.3rem 1rem;
    }

    .finishing_up {
        padding: 0;
        margin: 0;
       
    }
    .finishing_up .contentbx{
        /* width: calc(100% - 1rem); */
        width: 100%;
        margin-right: 0;
    }
    .Vote_of_thanks{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .Vote_of_thanks .contentbx{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-inline: 4rem;
        border-radius: 0;
    }
}

@media only screen and (min-width: 970px) {
    .main_width{
        min-width: 63rem;
    }
    aside{
        min-width: 18.5rem;
    }
}