* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /*### Primary colors*/
    /* --Marine_blue: #02295a; */
    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    /*### Neutral colors*/
    --Cool_gray: #9699ab;
    --Cool_gray: hsl(231, 11%, 63%);
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);


    /* - Font size (paragraph): 16px */

    /* ### Font */

    /* --Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu) */
    /* - Weights: 400, 500, 700 */


}

body {
    background-color: var(--Magnolia);
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;

}

.main_wrapper {
    height: 100%;
    width: 100%;
    max-width: 60rem;
    /* overflow-x: hidden; */
    background-color: transparent;
    /* border:  1px solid green; */
    border-radius: 10px;
    /* position: relative; */
}

main form {
    /* border:  4px solid orange; */
    width: 70%;
    overflow-x: scroll;
    position: relative;
}

section {
    min-width: 100%;
    /* margin-left: 40rem; */
}

aside {
    background: url(assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 88.3%;
    background-size: cover;
    height: 34%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
    /* border: 4px solid red; */
    /* border-radius: 10px; */
    /* position: absolute; */
    /* top: 0;
    left: 0;
    right: 0; */
    bottom: 100%;
}

aside>div {
    display: flex;
    align-items: start;
    gap: 16px;
}

aside>.one span:first-child {
    background-color: var(--Light_blue);
    color: var(--Marine_blue);
}

aside>div span:first-child {
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    border: 1px solid var(--Light_gray);
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: var(--White);
}

aside>div span:last-child h5 {
    color: var(--Light_gray);
}

aside>div span:last-child {
    display: none;
}

aside>div span:last-child h4 {
    color: var(--Alabaster);
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    aside {
        background: url(assets/images/bg-sidebar-desktop.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-width: 15rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 12px;
        padding: 2rem 1.5rem;
        /* position: static; */
        /* border: none; */
        border-radius: 10px;
    }

    aside>div span:last-child {
        display: block;
    }
}

main {
    /* height: fit-content; */
    /* background-color: var(--Alabaster); */
    /* background-color: red; */
    /* padding: 2rem 20rem; */
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100%;

}

main .personal_info {
    width: 95%;
    height: fit-content;
    background-color: var(--Alabaster);
    border-radius: 10px;
}

main .personal_info label {
    font-weight: bold;
}

main .personal_info input {
    height: 3rem;
    width: 100%;
    padding: 0 10px;
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
    
}

main .personal_info .btnbx input {
    width: 10rem;
    background-color: var(--Marine_blue);
    color: var(--Alabaster);
    position: absolute;
    right: 0;
    bottom: 0;
}


main .select_plan {
    width: 95%;
    height: fit-content;
    background-color: var(--Alabaster);
    /* background-color: red; */
    border-radius: 10px;
}

main .select_plan>p {
    color: var(--Cool_gray);
}

main .select_plan .select_box {
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

main .select_plan .select_box:hover {
    background-color: var(--Magnolia);
    border: 1px solid black;
}
.arcade_contentbx {
    width: 100%;
   
} 

main .select_plan .select_box .content p {
    font-weight: 400;
    color: var(--Cool_gray);
}

main .select_plan .select_box > input {
    height: 3rem;
    width: 100%;
    padding: 0 10px;
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

main .select_plan .togglebx {
    width: 100%;
    background-color: rgba(44, 85, 97, 0.01);
    border-radius: 10px;
}

main .select_plan .togglebx .toggle_container {
    background-color: var(--Marine_blue);
    width: 2.5rem;
    height: 1rem;
    padding: 10px 16px;
    border: 2px solid var(--Marine_blue);
    border-radius: 20px;

}

main .select_plan .togglebx .toggle_container > #toggle_span {
    width: 1rem;
    height: 1rem;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: auto;
    /* transition: 1s; */
}

main .select_plan .togglebx .toggle_container > input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
main .select_plan .togglebx .toggle_container > input:checked + #toggle_span{
    right: 0;
    left: auto;
}
main form .btnbx {
    background-color: var(--Alabaster);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    padding: 1rem 2rem;
}

main .btnbx input {
    width: fit-content;
    background-color: var(--Marine_blue);
    color: var(--Alabaster);
    padding: .5rem 1rem;
    right: 0;
    bottom: 0;
}

main .btnbx input:first-child {
    background-color: transparent;
    border: none;
    color: var(--Cool_gray);
    font-weight: 500;
    left: 0;
    padding: 0;
}

main .btnbx input:last-child {
    font-weight: 500;
    right: 0;
    border-radius: 5px;
}

main .add_ons {
    width: 95%;
    min-height: 30.5rem;
    background-color: var(--Alabaster);
    /* background-color: red; */
    border-radius: 10px;
    /* z-index: 3; */
}

main .add_ons #add_yearly{
    display: none;
}
main .add_ons .select_box {
    border: 1px solid var(--Cool_gray);
    border-radius: 5px;
}

main .finishing_up {
    width: 95%;
    height: fit-content;
    background-color: var(--Alabaster);
    /* background-color: red; */
    border-radius: 10px;
    z-index: 3;
}

@media only screen and (min-width: 768px) {
    body {
        justify-content: center;
    }

    .main_wrapper {
        height: 75%;
        width: fit-content;
        background-color: var(--Alabaster);
        padding: 1rem;
        border-radius: 10px;

    }

    main {
        background-color: transparent;
    }

    main .personal_info {
        height: auto;
        /* border: 1px solid yellow; */

    }

    main .personal_info .btnbx input {
        width: 10rem;
        background-color: var(--Marine_blue);
        color: var(--Alabaster);
    }

    main .select_plan {
        height: auto;
        /* border: 1px solid red; */
        /* padding: auto 8rem; */

    }

    main .select_plan .planbx {
        height: 10rem;
        /* border: 1px solid green; */
        gap: .8rem
    }

    main .select_plan .planbx .select_box {
        min-width: calc(95% / 3);
        /* max-width: 6.5rem; */
    }

    main .select_plan .planbx .select_box img {
        width: 2rem;
    }

    main .select_plan .togglebx {
        min-width: 100%;
        /* background-color: red; */
    }

    main .add_ons {
        background-color: var(--Alabaster);
    }
}